.header {
    margin-top: -19px;
    right: 0px;
    position: fixed;
    left: 0px;
    background-color: #060419;
    height: auto;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    color: white;
    align-items: center;
    box-shadow: -1px 30px 21px -26px #bc599c;
    text-align: center;
    transition-duration: 0.2s;
    font-size: 15px;
    font-weight: 700;
}

.header:Hover {
    box-shadow: -1px 30px 21px -26px rgb(255, 2, 175);
   transition-duration: 0.2s;
}

.logo {
    height: 40px;
 }

.logoAdminStoreHeader {
    margin-right: 40px;
}

.StoreTitleHeader {
    color: deeppink;
    font-size: 20px;
    transition-duration: 0.7s;
}
.AdminStoreTitleHeader {
    color: white;
    font-size: 20px;
    transition-duration: 0.7s;
}

.StoreTitleHeader:hover {
    color: deeppink;
    transition-duration: 0.3s;
}

.gadgets {
    color: red
}

#guest {
    color: white;
    background-image: linear-gradient(90deg, purple, #21AAC3);
    font-size: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    border: 2px solid white;
    padding-bottom: 7px;
    font-family: 'Anton', sans-serif;
    margin-top: 40px;
    transition-duration: 0.5s;
    font-size: 15px;
    text-decoration: none;
}

#guest:hover {
    color: white;
    transition-duration: 0.5s;
}

.Dp {
    height: 40px;
    margin-right: 20px;
    border: 2px solid white;
}